html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
		link(rel='root.css', href='../assets/root.css')
		title {{title}}
	body
		div.container.text-center
			div.s3-m-10.s3-p-8
				div.panel.panel-default
					div.panel-heading.panel-title
						h1.s3-fs-xs-3(style='color:#782f40;') Formulario para a&ntilde;adir productos
					div.panel-body
						form(action='/products', method='POST')
							div.form-group
								label Nombre del producto
								input#InputFName.form-control(name='title', type='text', placeholder='Ingrese el nombre del producto')
							div.form-group
								label Precio del producto
								input.form-control(name='price', type='number', placeholder='Ingrese el Precio del producto')
							div.form-group
								label Url foto del producto
								input#InputFName.form-control(name='foto', type='text', placeholder='Ingrese URL de la foto')
							hr
							div.d-grid.gap-2.col-6.mx-auto
							button.btn.btn-primary(type='submit')= addProd
							button.btn.btn-primary(onclick="event.preventDefault();window.location.href='/productos'") Ir a lista de productos